body{
    background-color: #F7FFF7;
}

.display-container{
    width: 40vw;
    height: 60vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    background-color: #F5E663;
    border: none;
    border-radius : 10px;
}

.display-container::-webkit-scrollbar{
    display: none;
}

.btn-delete{
    background-color: #FF0F56;
    border-radius: 10px;
    border: none;
    width: 2vw;
    height: 3vh;
    margin-left: 5px;
    font-size: 75%;
}

.text-container{
    margin-top: 5px;
    margin-left: 1vw;
}
